{% load static %}
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <!-- Left Section -->
      <div class="footer-center">
        <!-- <div class="brand">
          <img src="{% static 'images/Eye.RIS_Logo.png' %}" alt="Eye.IRIS Logo" style="height: 40px;">
          <h5>Eye.RIS</h5>
        </div>
        <div class="address">
          <strong>Alamat Kantor:</strong> Gedung EPIS Innovation Center (EIC) Lantai 3, Kampus PENS, Jalan Raya ITS, Keputih, Sukolilo, Surabaya, Jawa Timur 60111<br>
          <strong>Email:</strong> datavverse@gmail.com<br>
          <strong>WhatsApp:</strong> +62 812-3456-7890
        </div> -->
          <h4 style="margin-bottom: 20px;">EYE.RIS</h4>
          <div style="font-size: small; ">
            <strong>Alamat Kantor:</strong> Gedung EPIS Innovation Center (EIC) Lantai 3, Kampus PENS, Jalan Raya ITS, Keputih, Sukolilo, Surabaya, Jawa Timur 60111<br>
            <strong>Email:</strong> datavverse@gmail.com<br>
            <strong>WhatsApp:</strong> +62 812-3456-7890<br>
          </div>
      </div>

      
      <!-- Center Section -->
      <div class="footer-center">
        <h4>DISCOVER</h4>
        <ul>
          <li><a href="{% url 'about' %}">Tentang Kami</a></li>
          <li><a href="{% url 'faq' %}">FAQ</a></li>
        </ul>
      </div>
      
      <!-- Right Section -->
      <div class="footer-right">
        <h4>KOMUNITAS</h4>
        <div class="social">
          <a href="#twitter" class="social-icon">𝕏</a>
          <a href="#instagram" class="social-icon">📷</a>
          <a href="#youtube" class="social-icon">▶</a>
          <a href="#linkedin" class="social-icon">in</a>
        </div>
      </div>
    </div>
  </div>
</footer>
